name: quality

on:
  pull_request:
  push:
    branches: [main]

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
      - name: Install goimports
        run: |
          go install golang.org/x/tools/cmd/goimports@latest
          echo $(go env GOPATH)/bin >> $GITHUB_PATH
      # pre-commit
      - uses: actions/setup-python@v3
      - uses: pre-commit/action@v3.0.0
      # build
      - name: Build
        run: make build
      # test
      - name: Test
        run: make test
